<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>


      <% blog.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>

    </div>
  <% end %>


    <div class="field">
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>



    <div class="field">
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>

  <h3>comments for this blog </h3> <a href="#" class="hide_comments">hide</a>&nbsp;<%= link_to_add_association 'Add Comment', form, :comments, data: {association_insertion_node: '.comments', association_insertion_method: 'append'}%>

      <ul style="list-style: none;">

            <div class="comments">
              <%= form.fields_for :comments do |comment_form|%>
                <%render 'comment_fields', f: comment_form%>
              <%end%>
            </div>

      </ul>


    <div class="actions">
      <%= form.submit %>
    </div>

<% end %>
